PORT = YOUR_PORT
DB_URL= YOUR_DB_URL
FRONTEND_URL = YOUR_FRONTEND_URL
NODE_ENV = YOUR_NODE_ENV
VIDEOSDK_API_ENDPOINT = "https://api.videosdk.live/v2"
VIDEOSDK_API_KEY = YOUR_VIDEOSDK_API_KEY
VIDEOSDK_SECRET_KEY = YOUR_VIDEOSDK_SECRET_KEY
JWT_SECRET = YOUR_JWT_SECRET
REDIS_URL = YOUR_REDIS_URL
EMAIL_USER = YOUR_EMAIL_USER
EMAIL_PASS = YOUR_EMAIL_PASS
EMAIL_FROM = "CONFERENCE VIDEO ZUS - <${EMAIL_USER}>"
OUTLOOK_APP_ID = YOUR_OUTLOOK_APP_ID
OUTLOOK_APP_SECRET = YOUR_OUTLOOK_APP_SECRET
OUTLOOK_REDIRECT_URL = YOUR_OUTLOOK_REDIRECT_URL
GOOGLE_CLIENT_ID = YOUR_GOOGLE_CLIENT_ID
GOOGLE_SECRET_ID = YOUR_GOOGLE_SECRET_ID
GOOGLE_REDIRECT_URL = YOUR_GOOGLE_REDIRECT_URL
SESSION_SECRET = YOUR_SESSION_SECRET
GOOGLE_LOGIN_URL = YOUR_GOOGLE_LOGIN_URL
BACKEND_URL = YOUR_BACKEND_URL